body {
	background-image: url(smartphone.png);
	background-size: 500px;
	background-position: center;
	background-repeat: no-repeat;
}

h1 {
	text-align: center;
	font-family: arial;
}

.Image {
	text-align: center;
	}

#Link li {
	list-style: none;
	text-align:center;
	font-family: arial;
	margin-right: 40px;
}
